@import url(//db.onlinewebfonts.com/c/0b51833ff62e4af8acb5fd3e2bf59e97?family=SF+Pro+Display:wght@300,400,700);

body{
    height:100vh;
    margin: 0;
    font-family: 'SF Pro Display', arial;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
img{
    width: 100%;
}

.navigation-container{
    background: #002EA4;

    a{
        color: white;
    }
}
header{
    display: flex;
    justify-content: space-between;
    padding: 2em;

    .logo{
        color: #FFC147;
        font-weight: bold;
    }
    
    ul{
        display: flex;
        a{
            display: inline-block;
            padding: 0 1em;
        }
    }
}

.social-header, .landing-design{
    display: none;
}

.landing{
    background: #0937AB;
    color: white;
    display: grid;
    text-align: center;
    padding: 4em;
}    

.meet{
    display: flex;
    margin: 0 auto;
    width: 200px;
    font-weight: bold;
    color: #8CFF64;

    span{
        margin-top: .75em;
        margin-right: 0;
    }
}

.scroll{
    width: 30px;
    margin-top: 2em;
}

section{
    padding: 4em 2em;
    text-align: center;
}

.about{
    position: relative;
}
.about::before{
    content: "";
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: #B5C5FF;
    top: 0;
    left: 0;
    z-index: -1;
}

.subtitle{
    text-transform: uppercase;
    font-weight: bold;
    color: #002EA4;
    letter-spacing: .2em;
    font-size: .85em;
}

.about-title{
    color: black;
    font-weight: bold;
    font-size: 1.3em;
    margin-top: -.4em;
    display: block;
}

.about-desc{
    color: #3B3B3B;
    margin-bottom: 3em;
    font-size: .9em;
    line-height: 1.5em;
    font-weight: 500;
}

.skills{
    background: #FFC147;
}

.skills-container ul li{
    background: white;
    padding: 2em;
    border-radius: 1em;
    margin-bottom: 1em;

    .icon-container{
        height: 70px;
        display: grid;
        place-content: center;
        margin: 0 auto;

        &.one{
            width: 70px;
        }
        &.two{
            width: 70px;
        }
        &.three{
            width: 70px;
        }
    }

    .skill-title{
        font-weight: bold;
        text-transform: uppercase;
    }
    .skill-desc{
        margin-bottom: 2em;
    }
}

@media only screen and (min-width: 800px) {
    body{
    .about{
        text-align: left;
        display: grid;
        grid-template-columns: 40% auto;
    }

    .left{
        display: grid;
        place-content: center;
    }
    .right{
        margin-left: 2em;
        margin-top: 1em;
    }

    .skills{
        margin-top: -5em;
        margin-bottom: -7em;
        padding-top: 7em;
    }

    .skills-container ul{
        display: flex;
        grid-template-columns: repeat(3, auto);
        grid-gap: 1em;
    }
}
}
@media only screen and (min-width: 1050px){
    .landing{
        height: 90vh; 
    }
    .navigation-container{
        display: grid;
        grid-template-columns: 66% auto;
        background: unset;

        header{
            background: #002EA4;
        }
    }
    Header{
        padding: 2em 2em 2em 4em;
    }
    .social-header{
        padding: 2em 4em 2em 0;
    }
    section{
        padding: 4em;
    }
    .social-header{
        display: block;
        
        ul{
            display: inline-flex;
            justify-content: space-between;
            width: 7em;
            float: right;

            img{
                width: 20px;
            }
        }
    }

    .landing{
        display: grid;
        grid-template-columns: 66% auto;
        background: unset;
        padding: 0;

        .content{
            background: #0937AB;
            padding: 6em 8em 6em 4em;
            text-align: left;

            h1{
                font-size: 3em;
                line-height: 1.2em;
            }
        }
    }

    .meet{
        margin: unset;

    }

    .landing-design{
        display: unset;
        margin-left: -50%;
        margin-top: 15%;
        width: 100%;
    }

}

@media only screen and (min-width: 1250px){
    header{
        padding: 2em 2em 2em 10em;
    }
    .social-header{
        padding: 2em 10em 2em 0;
    }
    section{
        padding: 10em 10em 4em 10em;
    }
    .landing .content{
        padding: 6em 8em 6em 10em;
    }
}

@media only screen and (min-width: 1550px){
    header{
        padding: 2em 2em 2em 20em;
    }
    .social-header{
        padding: 2em 20em 2em 0;
    }
    section{
        padding: 6em 20em 4em 20em;
    }
    .landing .content{
        padding: 9em 20em 6em 20em;
    }
}
